<h3>Dashboard</h3>

<table class="customer-list">
  {{#each model as |item|}}
    <tr>
      <td class="customer-name">
        {{item.name}}
      </td>
      <td>
        {{#link-to "main.customer" item.customerId
          class="main--customer-link"
          id=(concat "customer-link-" item.customerId)
        }}
          Customer
        {{/link-to}}
      </td>
    </tr>
  {{/each}}
</table>
