<h3>Dashboard</h3>

<table class="customer-list">
  {{#each model as |item|}}
    <tr>
      <td class="customer-name">
        {{item.name}}
      </td>
      <td>
        {{#link-to "customer" item.customerId
          id=(concat "customer-link-" item.customerId)
          class="customers--customer-link"
        }}
          View
        {{/link-to}}
      </td>
    </tr>
  {{/each}}
</table>