{{#routable-tabs tabs=tabs as |c|}}
  <span class="tab-item__title">
    {{c.title}}
  </span>

  {{#unless c.sticky}}
    &nbsp;

    <button	class="tab-item__close"
      onclick={{route-action "closeTab" c}}>
      X
    </button>
  {{/unless}}
{{/routable-tabs}}

{{outlet}}
