{{#routable-tabs tabs=tabs as |tabItem|}}
	{{#component tabItem as |c|}}
		<span class="tab-item__title">
			{{c.title}}
		</span>

    &nbsp;

    {{#unless c.sticky}}
      <button	class="tab-item__close"
        onclick={{action "closeTab" c}}>
        X
      </button>
    {{/unless}}
	{{/component}}
{{/routable-tabs}}

{{outlet}}
